@model Server.Models.Message

@{
    ViewData["Title"] = "Command executor";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/command.js"></script>
<script src="~/js/image.js"></script>

<input type="hidden" id="connectionGuid" value="@Model.ConnectionGuid" />

<div style="padding-top: 20px; display: flex; justify-content: center;">
    <div id="clientDesktop" style="height: 400px; width: 600px; overflow-y: auto; border: 1px solid #ccc; padding: 10px; ">
    </div>
</div>

<div style="padding-top: 20px;">
    <div id="consoleOutput" style="height: 300px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
    </div>
</div>

<div class="form-group d-flex justify-content-center">
    <input type="text" class="form-control mr-2" id="command" />
    <button type="button" class="btn btn-primary" onclick="sendCommand('@Model.ConnectionGuid'); $('#command').val('');">Send</button>
</div>
